<!DOCTYPE html>
<html>
<head>
  <title>AgileBoard</title>
  <%= stylesheet_link_tag    "agile_board/application", media: "all" %>
  <%= javascript_include_tag "agile_board/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
