@import 'utilities/variables';

#points-tab, #statuses-tab {
  margin-top: 10px;
  margin-bottom: 50px;
  .point {
    margin-right: 10px;
    color: $link-color;
  }
}

.info-square.epic-caption{
  padding: 3px 10px;
}
.octicon-sword.octicon {
  font-size: 20px;
}

.octicon-sword.medium-octicon {
  margin-right: 0px;
}

#agile-board .subnav {
  margin-top: 0px;
  float: right;
}

.agile-board-plan {
  .ui-state-highlight {
    height: 31px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.sprints, .backlog {
  .dropdown-menu {
    width: 120px;
    > li > a {
      padding: 4px 0px 4px 0px;
    }
  }
}

.sprint .header, .backlog .header {
  > span > span, > div > span {
    margin-right: 5px;
  }
  .info-square {
    background-color: white;
  }

}

.sprint-dates-header.info-square {
  position: relative;
  font-size: 12px;
  .sprint-dates-separator {
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.sprint-date-range span {
  color: #484848;
  font-weight: bold;
}

@media(max-width: 1440px) {
  .sprints.splitcontentleft .sprint-dates-header {
    display: none;
  }
}

@media(max-width: 1150px) {
  .sprints.splitcontentleft, .backlog.splitcontentright {
    .counter.total-entries {
      display: none;
    }
  }
}

.fancy-list .fancy-list-item {
  .info-square {
    padding: 3px 10px 1px 10px;
  }
}

.sprint, .story-tasks-list {
  .fancy-list .fancy-list-item {
    line-height: 30px;
  }
  .fancy-list .fancy-list-item .story-left-content {
    float: left;
    overflow: hidden;
  }
  .fancy-list .fancy-list-item .right-content-list li {
    float: inherit;
    margin-left: 0px;
  }
  .story-title {
    overflow: hidden;
  }
  .info-square {
    padding: 3px 10px 1px 10px;
  }
}

.epic-summary {
  margin-left: 10px;
}

.epic-caption {
  color: white;
  .octicon {
    color: white;
  }
}

#status-editor-overlay {
  .form {
    height: 400px;
  }
}

#story-editor-overlay .overlayContent {
  width: 100% !important;
  .overlayInner {
    max-height: 700px;
    #user_story_title {
      width: 100%;
    }

  }
}

.counter.story-issues-count {
  background-color: $link-color;
  color: white;
  width: 20px;
  text-align: center;
  .octicon {
    color: white;
    font-size: 16px;
  }
}

.counter.story-points {
  width: 30px;
  text-align: center;
}

#content .story-map ul.story-map-stories li.story {
  font-size: 14px;
}
.sprint-progress{
  font-weight: bold;
  float:right;
  width: 140px;
}
.sprint-date-range{
  float:left;
}

#user-stories-search{
  margin-left: 10px;
  width: 400px;
}