@import 'utilities/variables';

#points-tab, #statuses-tab {
  margin-top: 10px;
  margin-bottom: 50px;
  .point {
    margin-right: 10px;
    color: $link-color;
  }
}

.octicon-sword.medium-octicon {
  margin-right: 0px;
}

#agile-board .subnav {
  margin-top: 0px;
  float: right;
}

.agile-board-plan {
}

.sprints, .backlog {
  .dropdown-menu {
    width: 120px;
    > li > a {
      padding: 4px 0px 4px 0px;
    }
  }
}

.sprint .header, .backlog .header {
  > span > span, > div > span {
    margin-right: 5px;
  }
  .info-square {
    background-color: white;
  }

}
.story-title {
  a {
    color: $link-hover-color;
    font-weight: inherit;
  }
  a:hover {
    text-decoration: underline;
  }
}

.story-detail {
  .user-profile.avatar {
    height: 24px;
    margin-right: 5px;
  }
}

.fancy-list-item.story, .fancy-list-item.story-task {
  .story-task-left-content, .story-left-content, .right-content-list {
    .story-tracker, .story-task-tracker {
      font-weight: bold;
    }

    margin-top: -5px;
    span, a {
      margin-right: 5px;
    }
    .user-profile.avatar {
      height: 24px;
    }
    .progress-bar {
      display: inline-block;
      width: 75px;
      vertical-align: middle;
      height: 24px;
      margin-top: -2px;
      span {
        height: 24px;

      }
    }
  }
}

.stories-list {
  min-height: 30px;
}

.stories-list.no-stories {
  border: dashed 1px #e4e4e4;
  margin: 1px;
}

.sprint .header {
  .sprint-dates-header.info-square {
    position: relative;
    font-size: 12px;
    .sprint-dates-separator {
      font-weight: bold;
      margin-right: 5px;
      margin-left: 5px;

    }
  }
}

.fancy-list .fancy-list-item {
  .info-square {
    padding: 3px 10px 1px 10px;
  }
}

.sprint, .story-tasks-list {
  .fancy-list .fancy-list-item .story-left-content {
    float: left;
    width: 75%;
  }
  .fancy-list .fancy-list-item .right-content-list li {
    float: inherit;
    margin-left: 0px;
  }
  .story-title {
    overflow: hidden;
  }
  .info-square {
    padding: 3px 10px 1px 10px;
  }
}

.epic-summary {
  margin-left: 10px;
}

.epic-caption {
  color: white;
  .octicon {
    color: white;
  }
}

#status-editor-overlay {
  .form {
    height: 400px;
  }
}

#story-editor-overlay .overlayContent {
  width: 100% !important;
  .overlayInner {
    max-height: 700px;
    #user_story_title {
      width: 100%;
    }

  }
}

.counter.story-points {
  width: 30px;
  text-align: center;
}

.story-tasks-list {

  min-height: 50px;
}

#trash-story-tasks.box {
  border: dashed 3px $default-border-color;
  margin-top: 50px;
  .trash-placeholder {
    text-align: center;
    p {
      margin: 0;
      margin-right: 10px;
      display: inline-block;
      padding: 5px;
      font-weight: bold;
      font-size: 16px;
      color: $default-smooth-color;
    }
  }
}

.story-map {
  position: relative;
  margin-top: 5px;
  width: 100%;
  .story-map-column {
    position: relative;
    float: left;
    height: 100%;
    .story-map-column-header {
      font-size: 16px;
      text-align: center;
      font-weight: bold;
      padding: 5px 0 5px 0;
    }
    .story-map-stories {
      padding: 10px;
      .story {
        margin: 10px 0 10px 0;
        padding: 5px;
        height: 100px;
        overflow: hidden;
        border: solid 1px $default-border-color;
        border-radius: 3px;
        div > span {
          margin-right: 5px;
        }
        .story-tracker {
          font-weight: bold;
        }
        .story-header{
          .story-left-content{
            float:left;
          }
          .story-right-content{
            float: right;
          }
        }
      }
    }
  }
}