@import 'utilities/variables';

#points-tab, #statuses-tab {
  margin-top: 10px;
  margin-bottom: 50px;
  .point {
    margin-right: 10px;
    color: $link-color;
  }
}
.octicon-sword.medium-octicon{
  margin-right: 0px;
}

#agile-board .subnav {
  margin-top: 0px;
  float: right;
}

.agile-board-plan {
}

.sprint .header, .backlog .header {
  > span > span, > div > span {
    margin-right: 5px;
  }
  .info-square {
    background-color: white;
  }

}

.story .right-content-list span {
  margin-right: 5px;
}

.stories-list {

  min-height: 30px;
}

.stories-list.no-stories {
  border: dashed 1px #e4e4e4;
  margin: 1px;
}

.sprint .header {
  .sprint-dates-header.info-square {
    position: relative;
    font-size: 12px;
    .sprint-dates-separator {
      font-weight: bold;
      margin-right: 5px;
      margin-left: 5px;

    }
  }
}

.epic-summary{
  margin-left: 10px;
}

.epic-caption{
  .octicon{
    color: white;
  }
}