@import 'utilities/variables';

#points-tab, #statuses-tab {
  margin-top: 10px;
  margin-bottom: 50px;
  .point {
    margin-right: 10px;
    color: $link-color;
  }
}

.octicon-sword.medium-octicon {
  margin-right: 0px;
}

#agile-board .subnav {
  margin-top: 0px;
  float: right;
}

.agile-board-plan {
}
.sprints, .backlog{
  .dropdown-menu{
    width: 120px;
    > li > a{
      padding: 4px 0px 4px 0px;
    }
  }
}
.sprint .header, .backlog .header {
  > span > span, > div > span {
    margin-right: 5px;
  }
  .info-square {
    background-color: white;
  }

}
.story-detail{
  .user-profile.avatar{
    height: 24px;
    margin-right: 5px;
  }
}
.fancy-list-item.story, .fancy-list-item.story-task {
  .story-task-left-content, .story-left-content, .right-content-list {
    .story-tracker, .story-task-tracker {
      font-weight: bold;
    }
    .story-title{
      a{
        color: $link-hover-color;
        font-weight: inherit;
      }
      a:hover{
        text-decoration: underline;
      }
    }
    margin-top: -5px;
    span, a {
      margin-right: 5px;
    }
    .user-profile.avatar{
      height: 24px;
    }
    .progress-bar{
      display: inline-block;
      width: 75px;
      vertical-align: middle;
      height: 24px;
      margin-top: -2px;
      span{
        height: 24px;

      }
    }
  }
}

.stories-list {
  min-height: 30px;
}

.stories-list.no-stories {
  border: dashed 1px #e4e4e4;
  margin: 1px;
}

.sprint .header {
  .sprint-dates-header.info-square {
    position: relative;
    font-size: 12px;
    .sprint-dates-separator {
      font-weight: bold;
      margin-right: 5px;
      margin-left: 5px;

    }
  }
}

.sprint, .story-tasks-list {
  .fancy-list .fancy-list-item .story-left-content {
    float: left;
    width: 75%;
  }
  .fancy-list .fancy-list-item .right-content-list li {
    float: inherit;
    margin-left: 0px;
  }
  .story-title {
    overflow: hidden;
  }
  .info-square {
    padding: 3px 10px 1px 10px;
  }
}

.epic-summary {
  margin-left: 10px;
}

.epic-caption {
  color: white;
  .octicon {
    color: white;
  }
}

#status-editor-overlay {
  .form {
    height: 400px;
  }
}

#story-editor-overlay .overlayContent {
  width: 100% !important;
  .overlayInner {
    max-height: 700px;
    #user_story_title {
      width: 100%;
    }

  }
}
.counter.story-points{
  width: 30px;
  text-align: center;
}