@import 'utilities/variables';

#agile-board-content {
  .left-sidebar {
    width: 16%;
  }

  .box.sprint-health, .box.sprint.report, #burndown-chart {
    position:relative;
    float: left;
    width: -moz-calc(84% - 65px);
    /* WebKit */
    width: -webkit-calc(84% - 65px);
    /* Opera */
    width: -o-calc(84% - 65px);
    /* Standard */
    width: calc(84% - 65px);
    margin-left: 40px;
    margin-top: 20px;
  }
  .box.sprint-health {
    .header{
      margin-bottom: 0;
      margin: 0;
      padding: 6px 6px 0px 6px;
    }

    padding: 0;

    .sprint-health-bar {
      width: 140px;
      line-height:40px;
      position: relative;
      display: inline-block;
      color: white;
      text-align: center;
      vertical-align: middle;
      font-weight: bold;
      width: 100%;
      .sprint-health-percent {
        position: relative;
        display: inline-block;
        height: 100%;
      }
      .sprint-health-percent:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      .sprint-health-percent:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    .sprint-info-text{
      border-bottom: solid 1px $default-border-color;
      padding: 15px;
      h2{
        margin-left: 0;
        display: inline-block;
        a{
          font-size: 16px;
        }
      }
      .sprint-date-range{
        float: none;
      }
      .sprint-days-left{
        font-size: 16px;
        color: $default-smooth-color;
        font-weight: bold;
      }
    }
    .splitcontentleft{
      float:left;
      border-right: solid 1px $default-border-color;
    }
    .splitcontentright{
      float:right;
    }
    .splitcontent{
      position: relative;
      padding: 30px;
      width: -moz-calc(50% - 65px);
      /* WebKit */
      width: -webkit-calc(50% - 65px);
      /* Opera */
      width: -o-calc(50% - 65px);
      /* Standard */
      width: calc(50% - 65px);
      p{
        margin: 0;
      }
      .sprint-health-text{
        margin-bottom: 10px;
      }

    }
    .statistics-bar{
      border-top: solid 1px $default-border-color;
      padding: 30px 0 0 30px;
      text-align: center;
      .sprint-health-square{
        h1{
          padding: 0;
        }
        text-align: center;
        position: relative;
        margin-right: 60px;
        margin-bottom: 30px;
        display: inline-block;
      }
    }
    #statistics-info{
      position: absolute;
      bottom: 5px;
      right: 5px;
    }

  }

}


#statistics-help{
  top: 20px !important;
  .overlayContent{
    width: 800px !important;
    .overlayInner{
      overflow-y: scroll;
    }
    table{
      tr{
        vertical-align: top;
        white-space: pre-line;
        td{
          padding: 7px 10px;
        }
        .title{
          font-weight: bold;
        }
      }
    }

  }
}

div.chart-tooltip {
  position: absolute;
  text-align: center;
  width: 300px;
  padding: 2px;
  font: 12px sans-serif;
  opacity: 0;
  background-color: white;
  color: $default-color;
  border: solid 1px $default-border-color;
  border-radius: 3px;
  pointer-events: none;
}


#burndown-chart{
  position: relative;

  .chart-dot{
    fill: $default-background-color;
    stroke: $default-smooth-color;
    stroke-width: 1.5px;
  }
  .chart-dot:hover{
    cursor: pointer;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #d4d4d4;
    shape-rendering: crispEdges;
  }

  .y.axis{
    .tick line{
      stroke: $default-border-color;
    }
  }

  .x.axis{
    .tick line{
      stroke: #d1d1d1;
      stroke-width: 1.5px;
    }

  }
  .x.axis:last-child{
    .tick line{
      stroke: none;
    }
  }


  .line {
    fill: none;
    stroke: $link-color;
    stroke-width: 3px;
  }

  .line.projected{
    stroke: #d4d4d4;
  }
}