@import 'utilities/variables';

.story-map {
  margin-top: 5px;
  width: 100%;
  .sprint {
    height: 100%;
  }
  .sprint-map{
    width: 100%;
    display: table;
    height: 100%;
    margin-bottom: 40px;
  }
  .ui-state-highlight {
    height: 105px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .ui-sortable-helper{
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  .story-map-sprint-header {
    margin-bottom: 30px;
  }
  .story-map-column {
    height: 100%;
    display: table-cell;

    .status-color {
      height: 10px;
      width: 100%;
      margin-top: 10px;
      display: block;
    }

    .story-map-column-header {
      font-weight: bold;
      padding: 5px 0 5px 0;
      text-align: center;
      .status-caption {
        font-size: 16px;
      }
      .story-count{
        float:right;
      }
    }

    .story-map-stories:empty {
      margin: 10px 10px 0 10px;
    }

    .story-map-stories {
      margin: 0;
      padding: 10px;
      height: 100%;
      display: block;
      
      .story {
        margin: 0 0 10px 0;
        padding: 5px;
        height: 100px;
        overflow: hidden;
        border: solid 1px $gray-lighter;
        border-radius: 3px;
        background-color: white;
        div > span {
          margin-right: 5px;
        }

        .story-tracker {
          font-weight: bold;
        }

        .story-header {
          .story-left-content {
            float: left;
          }

          .story-right-content {
            float: right;
          }
        }
      }
    }
  }
}
