/*
Syntax error: File to import not found or unreadable: utilities/variables.
              Load path: /Users/nmeylan/RubymineProject/RORganize/vendor/engines/agile_board/app/assets/stylesheets
        on line 1 of partials/_boards.scss
        from line 1 of agile_board.scss

1: @import 'partials/boards';
2: @import 'partials/story_map';
3: @import 'partials/user_stories';

Backtrace:
partials/_boards.scss:1
agile_board.scss:1
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/import_node.rb:45:in `import'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/exec.rb:443:in `watch_or_update'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/gems/sass-3.2.19/bin/sass:13:in `<top (required)>'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/bin/sass:23:in `load'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/bin/sass:23:in `<main>'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/nmeylan/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: utilities/variables.\A               Load path: /Users/nmeylan/RubymineProject/RORganize/vendor/engines/agile_board/app/assets/stylesheets\A         on line 1 of partials/_boards.scss\A         from line 1 of agile_board.scss\A \A 1: @import 'partials/boards';\A 2: @import 'partials/story_map';\A 3: @import 'partials/user_stories';"; }
